body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #fdeaea;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
}

.imgcontainer {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.head_container {
    text-align: center;
    font-size: 3em;
}

.buttons, .return_buttons {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Nút bấm */
.right, .left {
    min-width: 300px;
    min-height: 150px;
    font-size: 2em;
    padding: 30px 40px;
    justify-content: center;
    background-color: #4caf50;
    color: white;
    border: 5px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.left {
    background-color: #f44336;
}

.return {
    font-size: 1.5em;
    padding: 20px 30px;
    background-color: #14cbef;
    color: white;
    border: 5px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.text {
    font-size: 1.5em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

/* 💻 Màn hình máy tính (từ 1024px trở lên) */
@media (min-width: 1024px) {
    .right, .left, .return {
        min-width: 400px;
        min-height: 250px;
        font-size: 3em;
        padding: 60px 60px;
    }

    .head_container {
        font-size: 4em;
    }

    .text {
        font-size: 2em;
    }
}

/* 📱 Màn hình điện thoại (nhỏ hơn 768px) */
@media (max-width: 768px) {
    .buttons, .return_buttons {
        flex-direction: column;
    }
    .right{
        width: 50px;
        font-size: 50%;
        padding: 30px 40px;
        margin-right: 10px;
    }
    .left{
        width: 50px;
        font-size: 50%;
        padding: 30px 40px;
        margin-left: 10px;
    }
    .return {
        width: 90%;
        min-height: 100px;
        font-size: 1.5em;
        padding: 20px 30px;
    }

    .head_container {
        font-size: 2.5em;
    }

    .text {
        font-size: 1.2em;
    }
}
